
*{
	margin: 0;
	padding: 0;
	
}
/*banner star*/
header{
	padding: 15px 0;
	background-color: #121b2a;
}
.wrapper{
	width: 80%;
	/*border: 1px solid red;*/
	margin: 0 auto;
	overflow: hidden;
}

.loge {
	float: left;
	width: 15%;
	/*border: 1px solid white;*/
}
.loge img{
	width: 100%;
}

.manu{
	width: 70%;
	float: right;
	margin-top: 18px;
	/*border: 1px solid white;*/
}
.manu ul{
	float: right;
}
.manu ul li{
	list-style: none;
	float: left;
}
.manu ul li a{
	text-decoration: none;
	display: block;
	padding: 5px 15px;
	color: white;
	font-size: 20px;
}
/*.manu ul li :last-child a {
	padding-right: 0;
}*/
.manu ul li a:hover{
	color: #06598b;
	transition: .3s;
}
/*header end*/
/*banner star*/

.banner {
	background-image: url(../imagess/aaaa.png);
	background-repeat:no-repeat ;
	background-size: cover;
	background-position: top center;
	min-height: 300px;
}
.banner_content {
	margin-top: 200px;
	margin-bottom: 180px;
	width: 40%;
	/*border: 1px solid white;*/
}
.banner_content p:first-child{
	color: white;
	font-size: 28px;
}
.banner_content h1{
	color:#0074b7;
	font-family: sans-serif;
	font-size:34px;

}
.banner_content p:nth-last-child(2){
	color: white;
	line-height: 1.5;
}
.banner_content button{
	font-size: 15px;
	color: #5a5a5a;
	border: none;
	padding: 12px 15px;
	border-radius: 7px;
	margin-top: 18px;
	text-transform: uppercase;
}
.banner_content button span{
	background-color:black ;
	padding: 5px 5px;
	color: white;
	border-radius: 50%;
	text-transform: uppercase;
	margin-left: 10px;
}
/*banner end*/
/*service start*/
.service {
	background-color:#121b2c ;
	padding: 50px 0;
	/*border: 1px solid white;*/
}

.single {
	/*border: 1px solid white;*/
	width: 28%;
	padding: 15px 20px;
	float: left;
	/*border-right: 1px solid white;*/
	margin-left: 15px;
}
.single:last-child{
	border-right: 0;
	margin-bottom: 5px;
}

.title {
	overflow: hidden;

}

.icon {
	width: 28%;
	/*border: 1px solid white;*/
	float: left;
}
.icon img{
	width: 100%;
}
.icon_content {
	width: 70%;
	/*border: 1px solid red ;*/
	float: left;
	margin-top: 5px;
}
.icon_content h1 {
	font-size: 20px;
	color: white;
	font-weight: normal;
}
.icon_content h2 {
	color:#0170ae ;
	font-family: sans-serif;
}

.content {
}
.content p {
	color: white ;
	font-family: sans-serif;
	line-height: 1.5;
	font-size: 18px;
}
/*service end*/
.margin{
	/*margin: 10px;*/
		background-color:#121b2c ;

}
.wrapper_1{
	width: 80%;
	/*border: 1px solid red;*/
	margin: 0 auto;
	overflow: hidden;
}
.ocen_1{
	width: 30%;
	/*border: 1px solid;*/
	margin-top: 45px;
	float: left;
	margin-left: 30px;
}
.ocen_1 h1{
	font-family: sans-serif;
	font-size: 25px;
	color: white;
	padding: 12px;
}
.ocen_1 h1 span{
	color: #1869a0;
}
.ocen_1 p{
padding: 15px;
}
.ocen_1:last-child{
	border-right: 0;
	/*margin-bottom: 5px;
}

